@model Errand
@{
  ViewBag.msg1 = "Välkommen att fylla i din anmälan av miljöbrott";
  ViewBag.msg2 = "I Småstad är inga brott för små för att anmälas";
}

<form asp-controller="Citizen" asp-action="Validate" method="post">
  @await Component.InvokeAsync("ErrandInput", Model);
</form>