@model SaveManagerViewModel
@{
  Layout = "_MenyLayout";
}
<h2>Detaljer för ärendet</h2>
<p class="info">Du är inloggad som avdelningschef</p>

@await Component.InvokeAsync("ShowOneCrime", ViewBag.errandId)

<section id="bottomColumn">
  <h3>Redigera ärende</h3>
  <form asp-controller="Manager" asp-action="SaveManager" method="post">
    <p>
      Ange handläggare:
      <select asp-for="EmployeeId" asp-items="Model.Employees">
        <option value="">Välj</option>
      </select>
    </p>
    <p>
      <input asp-for="NoAction" type="checkbox" />
      <label asp-for="NoAction">Ingen åtgärd:</label>
      <input asp-for="InvestigatorInfo" type="text" placeholder="Ange motivering" />
    </p>
    <p><input class="button" type="submit" value="Spara"></p>
  </form>
</section>