@{
  Layout = "_HeaderLayout";
  var role = ViewContext.RouteData.Values["controller"]?.ToString();
}
<nav>
  <ul>
    @if (role == "Manager")
    {
      <li><a asp-controller="Manager" asp-action="StartManager" class="reports">Start(Ärenden)</a></li>
    }
    else if (role == "Investigator")
    {
      <li><a asp-controller="Investigator" asp-action="StartInvestigator" class="reports">Start(Ärenden)</a></li>
    }
    else
    {
      <li><a asp-controller="Coordinator" asp-action="StartCoordinator" class="reports">Start(Ärenden)</a></li>
      <li><a asp-controller="Coordinator" asp-action="ReportCrime" class="reportAdd">Rapportera brott</a></li>
    }
    <li class="right"><a asp-controller="Home" asp-action="Login" class="logout">Logga ut</a></li>
  </ul>
</nav><!-- End Nav -->
<div id="content">
  @RenderBody()
  <footer>
    &copy; Småstads Kommun All rights reserved.
  </footer>
</div>