@model SaveInvestigatorViewModel
@{
  Layout = "_MenyLayout";
}
<h2>Detaljer för ärendet</h2>
<p class="info">Du är inloggad som handläggare</p>

@await Component.InvokeAsync("ShowOneCrime");

<section id="bottomColumn">
  <h3>Redigera ärende</h3>
  <form asp-controller="Investigator" asp-action="SaveInvestigator" method="post" enctype="multipart/form-data">
    <label asp-for="InvestigatorInfo" class="label"></label>
    <br /><br />
    <textarea asp-for="InvestigatorInfo" rows="5" cols="60"></textarea>
    <br /><br />
    <label asp-for="InvestigatorAction" class="label"></label>
    <br /><br />
    <textarea asp-for="InvestigatorAction" rows="5" cols="60"></textarea>
    <br /><br />
    <label asp-for="Sample" class="label"></label>
    <br /><br />
    <input asp-for="Sample" type="file" />
    <br /><br />
    <label asp-for="Picture" class="label"></label>
    <br /><br />
    <input asp-for="Picture" type="file" />
    <br /><br />
    <label asp-for="StatusId" class="label"></label>
    <br /><br />
    <select asp-for="StatusId" asp-items="@(new SelectList(ViewBag.ListOfStatus, "StatusId", "StatusName"))">
      <option>Välj</option>
    </select>
    <p><input class="button" type="submit" value="Spara" /></p>
  </form>
</section>