@model IEnumerable<Department>
@{
  Layout = "_MenyLayout";
}
<h2>Detaljer för ärendet</h2>
<p class="info">Du är inloggad som samordnare</p>

@await Component.InvokeAsync("ShowOneCrime", ViewBag.errandId)

<section id="bottomColumn">
  <form asp-controller="Coordinator" asp-action="SaveDepartment" method="post">
    <p>
      <h3>Redigera ärende</h3>
      Ange enhet:
      <select name="DepartmentId">
        <option>Välj</option>
        @foreach (Department dept in Model)
        {
          @if (dept.DepartmentName != "Småstads kommun")
          {
            <option value="@dept.DepartmentId">@dept.DepartmentName</option>
          }
        }
      </select>
    </p>
    <input class="button" type="submit" value="Spara">
  </form>
</section>
