@model Errand
@{
  Layout = "_MenyLayout";
  ViewBag.msg1 = "Rapportera brott";
  ViewBag.msg2 = "Du är inloggad som samordnare";
}

<form asp-controller="Coordinator" asp-action="Validate" method="post">
  @await Component.InvokeAsync("ErrandInput", Model);
</form>